<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma Seven - Predictive Analytics | Business Intelligence</title>
    <!-- Bootstrap -->
    <link href="../Assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../Assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="../Assets/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="../Assets/css/custom.min.css" rel="stylesheet">
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!-- Menu Container -->
            <div class="col-md-3 left_col menu_fixed">

                <!-- Menu - Sigma Seven Logo -->
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="Index.html" class="site_title"><i class="fa fa-paw"></i> <span>Sigma Seven</span></a> <!--Navigate to Index page-->
                    </div>
                    <div class="clearfix"></div>

                    <!-- Menu - Profile Info -->
                    @Html.Partial("Layout/_MenuProfile");

                    <br />

                    <!-- Navigation Bar Side -->
                    @Html.Partial("Layout/_NavBarSide");

                    <!-- Menu Footer Buttons -->
                    @Html.Partial("Layout/_MenuFooterButtons");
                </div>
            </div>

            <!-- top navigation -->
            @Html.Partial("Layout/_NavBarTop");

            @RenderSection("Breadcrumbs", false)

            @RenderBody() <!-- I.e. Display Index View -->

        </div>

        <!-- footer content -->
        @Html.Partial("Layout/_FooterContent");

    </div>

    <!-- jQuery -->
    <script src="../Assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../Assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../Assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../Assets/vendors/nprogress/nprogress.js"></script>
    <!-- jQuery custom content scroller -->
    <script src="../Assets/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../Assets/js/custom.min.js"></script>
    @RenderSection("PageScripts", false)
</body>


</html>